.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px 10px 0;
  min-height: 75px;
  background-color: $chingu-blue;
  box-shadow: 0 2px 10px 1px grey;
}

.navbar-link {
  color: $off-white;
  padding: 0 10px;
}

#chingu {
  position: fixed;
  left: 20px;

  img {
    height: 60px;
  }
}