.connections-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

.connections-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 50%;
    margin: 20px;

    label {
        text-align: center;
    }

    select {
        margin: 10px auto;
    }
}